.profiles {
  max-width: 4%;
  margin: 0 10px;
}

.profiles img {
  background: linear-gradient(238.74deg, #c913b9 -2.57%, #f9373f 44.58%, #fecd00 91.55%);
  border-radius: 100%;
  border: 2.5px solid transparent;
  max-width: 100%;
}

.profiles h2 {
  text-align: center;
  font-size: 11.5px;
}
